<tr>
	<td><%= check_box_tag("task_ids[]" ,task.id,false,class: 'check_box')%></td>
	<td><%= link_to task.title , project_task_path(project , task)%> </td>
	<td> <%= task.description%></td>
	<td>
    <span class="label  <%= class_for_task_label(task.status)%>"> 
        <%= task.formatted_status %>
      </span>
		</td>

	<td><%=task.task_owner.name if task.task_owner.present? %></td>

	<td> 

		<%= link_to "<span class='glyphicon glyphicon-remove btn btn-danger btn-xs'></span>".html_safe , project_task_path(project.id,task.id) ,:class => "delete_task",:method => "delete", confirm: "Are you sure want to delete?" %> 

		<%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe , edit_project_task_path(project.id,task.id) %></td>
</tr>