<%content_for :breadcrumb do %>
    <ul class="breadcrumb">
      <li><%= link_to "Home" , homes_path%></li>
      <li><%= link_to "Project List",projects_path %></li>
      <li><%= link_to "#{@project.title}",project_path(@project)%></li>
      <li><%= link_to "#{@task.title}",project_task_path(@project)%></li>
    </ul>
  <%end%>

<%= render :partial => 'form', :locals => {:show_delete => true} %>
