<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put ,class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <div class="form-group text-center">
    <label for="inputpassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-6">
  
     <%= f.password_field :password, autofocus: true, autocomplete: "off" , id: "inputpassword" %>
    </div>
  </div>
  <div class="form-group text-center">
    <label for="password_confirm" class="col-sm-2 control-label"> Confirm New Password</label>
    <div class="col-sm-6">
     <%= f.password_field :password_confirmation, autocomplete: "off", id:"password_confirm" %>
    </div>
  </div>
  <div class="form-group ">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
    	<%= f.submit "Change my password" , :class =>"btn btn-default" %>
    </div>
  </div>
<% end %>
<div class="form-group ">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <%= render "devise/shared/links" %>
  </div>
</div>
