<div class = "task_error_message"></div>
<%= nested_form_for @project ,html: { class: "form-horizontal" ,:multipart => true} do |f|%>
  <div class="form-group text-center">
    <label for="inputtitle" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-6">
      <%=  f.text_field :title , class: "form-control" ,id: "inputtitle" ,'data-class' => 'title' %>
      <span class='error_message'></span>
    </div>
  </div>

  <div class="form-group text-center">
    <label for="inputdescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-6">
      <%=  f.text_area :description , class: "form-control" ,id: "inputdescription",'data-class'=> 'description',:rows => "10"%>
      <span class='error_message'></span>
    </div>
  </div>
  <!--  -->
  <div class="form-group ">
    <label for="inputdescription" class="col-sm-2 control-label">Admin User</label>
    <div class="col-sm-6">
      <%= select_tag "project_admin", options_from_collection_for_select(@users, "id", "name") %>
    </div>
  </div>

  <div class="form-group ">
    <label for="inputteam" class="col-sm-2 control-label">Project Team</label>
    <div class="col-sm-6">
     
        <%#= hidden_field_tag "project[user_ids][]",nil%>
        <%#= check_box_tag("project[user_ids][]", user.id,@project.user_ids.include?(user.id),id: dom_id(user) )%>
        <%#= label_tag dom_id(user) ,user.name%>
        <%#= select_tag "project[user_ids][]",options_from_collection_for_select(@people, "id", "name"),
          User.all.map { |u| [u.name, u.id] },
          { include_blank: true },
          { class: 'chosen-select' }
        %>
         <%= f.collection_select "user_ids", User.all, :id, :name, { :include_blank =>true },{:class => 'chosen-select' , :multiple => true , style: "width: 200px"} %>
     
    </div>
  </div>

  <div class = "form-group ">
    <div class="col-sm-offset-2 col-sm-6">
      <% unless @project.new_record?%>
        <%= f.submit "Update project" , :class =>"btn btn-default" %>
      <%end%>
    </div>
  </div>
  <%= link_to 'Back', projects_path %>
<%end %>
<style type='text/css'>
  span.error_message {
    font-size: 10px;
    float: right;
    color: red;
  }
  .errors{
    border: 1px solid red;
  }
</style>