<div class = "text-center">
  <%content_for :breadcrumb do %>
    <ul class="breadcrumb">
      <li><%= link_to "Home" , homes_path%></li>
      <li><%= link_to "Project List",projects_path %></li>
      <li><%= link_to @project.title %></li>
    </ul>
  <%end%>
  <h1>Project</h1>
</div>
<div class = "container">
  <div class="panel panel-default">
    <div class="panel-heading">  <%= @project.title%>   
      <div class = "text-right"> Project Owner:
        <%= image_tag @project.project_owner.profile_pic , size:"50x50" ,style:"border-radius: 25px"%>
        <%= @project.project_owner.name%>
         <% if @project.project_owner.id == current_user.id%>
          <div class="btn-group btn-group-sm" >
            <button type="button" class="btn btn-default" id = "edit_project" data-id = <%=@project.id%>> Edit
              <%#= link_to "Edit"  , edit_project_path(@project)%></button>

            <button type="button" class="btn btn-default"><%= link_to "Delete", project_path(@project) , :method => "Delete",:confirm => "Are you sure want to delete?" %></button>
          </div>
        <%end%>
        <div class="btn-group btn-group-sm" >
          <button type="button" class="btn btn-default">
          <%= link_to "Create Task",new_project_task_path(@project)%>
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <%= @project.description %>
      <div class="panel-body">
        <table class="">
          Project Member: 
          <% @team_members.each do|team_member|%>
            <td class="col-xs-6">
              <%= image_tag team_member.profile_pic , size:"50x50",style:"border-radius: 25px"%>
              <%=team_member.name%>
             
             </td>
          <%end%>
        </table>
      </div>
    </div>  
  </div>  
</div>
<div class="modal fade bs-example-modal-lg" id="project_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render :partial=> "project_model" %>
</div>
<%= render partial: 'project_tasks' %>

<style type='text/css'>
  .modal .modal-body {
  max-height: 420px;
  overflow-y: auto;
  }
</style>